html {
  font-size: 16px; /* Set the base font size */
}

:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

.container {
  max-width: 80rem; /* 1280px */
  margin: 0 auto;
}

.tree-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.tree-card {
  width: 20rem;
  margin: 1.25rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem; /* 8px */
  overflow: hidden;
  padding: 1rem
}

.tree-card-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;

}

.tree-card-header div{
 display: flex;
 align-items: center
}

.tree-card-name {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.tree-card-name p {
  margin: 0
}

.tree-card-name h1 {
  margin: 0
}

.toggle-button {
  background: none;
  border: none;
  width: 100%
}

.tagline {
  text-transform: uppercase;
  color: #00800A;
  font-weight: 600
}

h1 {
  font-size: 1.25rem
}


@media (min-width: 834px) {
  .tree-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: 1.25rem;
  }

  .tree-card {
  width: 18rem;

  }
}